<template name="home">
  <div class="home">
    <div class="page-header">
      <h1>Welcome to {{ siteTitle }}</h1>
    </div>
    <form>
        <ul class="list-group">
            <li class="list-group-item">Tweet:<input type="text" name="tweet"></li>
            <li class="list-group-item">Your Name:<input type="text" name="name"></li>
            <li class="list-group-item">Profile URL:<input type="text" name="url"></li>
            <li class="list-group-item">Where you live:<input type="text" name="address_location"></li>
            <li class="list-group-item">Short Description of you:<input type="text" name="description"></li>
            <li class="list-group-item">Color for your profile: <input type="text" name="profile_link_color"></li>
        </ul>
        <input type="submit" value="Update your Twitter Profile">
    </form>
  </div>
</template>
